<h2>My Super Heroes!</h2>
<ul class="heroes">
  <li *ngFor="let disMaHero of heroes">
    <!-- https://angular.io/tutorial/toh-pt5#navigating-to-hero-details -->
    <!-- like said... we'll handle displaying details via routing + parameter so instead of this button that
    used to show the show the messageService functionality, we're replacing it by a simple anchor -->
    <!-- <button
      [class.selected]="disMaHero === selectedHero"
      type="button"
      (click)="onSelect(disMaHero)"
    > -->
    <a routerLink="/detail/{{ this.disMaHero.id }}">
      <span class="badge">{{ disMaHero.id }}</span
      >&nbsp;
      <span>{{ disMaHero.name }}</span>
      <!-- </button> -->
    </a>
  </li>
</ul>
<!-- we'll move the details to a component-->
<!--div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero Name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div-->
<!-- https://angular.io/tutorial/toh-pt5#navigating-to-hero-details -->
<!-- we'll display the details from dashboard, heroes' list and direct url (routing + parameter) -->
<!-- notice we used to pass the selectedHero via an input from component to component, this will change -->
<!-- <app-hero-detail [hero]="this.selectedHero"></app-hero-detail> -->
<div>
  <label for="new-hero">Hero Name: </label>
  <input id="new-hero" #heroName />
  <button
    type="button"
    class="add-button"
    (click)="addHero(heroName.value); heroName.value = ''"
  >
    add hero
  </button>
  <!-- ah que pinche loco! puedo hacer varias cosas desde template wwwwoooowowow -->
</div>
